.focus{
    color: red;
    font-style: italic;
}

.unfocused{
    color: aqua;
}

img{
    float: right;
    height: 10%;
    width: 10%;
}

.column {
    width: 150px;
    float: left;
    margin: 10px;
}